@using Microsoft.AspNetCore.Identity
@using IES_WebAuth_Project.Areas.Identity.Data

@inject SignInManager<WebUser> SignInManager
@inject UserManager<WebUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IES_WebAuth_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    
</head>
<body>
    <!-- Top Navbar - Project Name -->
  
    <nav class="navbar navbar-top navbar-expand-sm navbar-dark" style="background-color:#800000">
        <div class="container justify-content-center text-center">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:#ffffff;">Web Authentication Application</a>
        </div>
    </nav>

    <!-- Bottom Navbar - Buttons -->
    <nav class="navbar navbar-expand-sm navbar-light bg-white box-shadow">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1" style="color:#800000">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link" style="color:#800000" asp-area="" asp-controller="Home" asp-action="Index"
                               onmouseover="this.style.color='#000000'" onmouseout="this.style.color='#800000'">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:#800000" asp-area="" asp-controller="Home" asp-action="Privacy"
                               onmouseover="this.style.color='#000000'" onmouseout="this.style.color='#800000'">
                                Privacy
                            </a>
                        </li>
                        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="color:#800000" asp-area="" asp-controller="Contact" asp-action="Index"
                                   onmouseover="this.style.color='#000000'" onmouseout="this.style.color='#800000'">
                                    View Contacts
                                </a>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="color:#800000" asp-area="" asp-controller="Contacts" asp-action="Index"
                                   onmouseover="this.style.color='#000000'" onmouseout="this.style.color='#800000'">
                                    View Contacts
                                </a>
                            </li>

                        }
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" style="color:#800000" asp-area="" asp-controller="Home" asp-action="Index"
                               onmouseover="this.style.color='#000000'" onmouseout="this.style.color='#800000'">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:#800000" asp-area="" asp-controller="Home" asp-action="Privacy"
                               onmouseover="this.style.color='#000000'" onmouseout="this.style.color='#800000'">
                                Privacy
                            </a>
                        </li>

                    }
                </ul>
                <partial name="_LoginPartial.cshtml" />
            </div>
        </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center" style="color:#800000">
            &copy;  Web Authentication Application - Group 1 - 2023
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
