@{
    ViewData["Title"] = "Home Page";  // Setting the title of the page to "Home Page" using ViewData.
}
<!-- Displaying a welcome message on the Home Page using an h1 heading element. -->
<div class="text-center bg-white" style="color: #800000; padding: 10vh 0;">
    <h5 style="font-size: 2rem;">Welcome to the application Home Page!</h5> 
    <p>
        The project mentioned in the provided link is an in-depth tutorial by Microsoft on securing data access in ASP.NET Core
        applications. It covers various aspects of authorization, which is a crucial part of building secure web applications. 
        The tutorial guides developers through role-based authorization, where access to certain parts of the application 
        is granted based on the user's role, policy-based authorization, which allows defining custom policies to control 
        access, and claims-based authorization, where access is determined by claims associated with the user's identity.
        <br />
        By following this tutorial, developers can learn how to implement robust security measures to protect sensitive 
        data and resources within their ASP.NET Core applications. This knowledge is essential for building applications 
        that adhere to industry best practices in terms of security and access control.
        <br />
        BDAT1001 - Information Encoding Standards<br />
        Performed by Group 1, Members: Avhimanhu Sapkota, Suman Malla, Ajesh Mahato, and Mayank Khosla.
    </p>
</div>
