@{
    ViewData["Title"] = "Privacy Policy";
}
<h3 class="text-center" style="color:#800000">@ViewData["Title"]</h3>

<p class="text-center" style="color:#800000">
    <br/>Our Web Auth Application values your privacy, and we are dedicated to safeguarding your personal information. 
    When you use our app, we may collect and use data to improve user experience and provide personalized services. 
    We take security measures to protect your data, but please note that no internet transmission is entirely secure. 
    We do not share your information with third parties without your consent, except when required by law. Our app may 
    contain links to third-party websites, and we are not responsible for their privacy practices. The app is not intended
    for children under 13. By using our app, you consent to our Privacy Policy. If you have any questions or concerns, 
    please contact us at admin@webapp.com.
</p>
